[submodule "themes/hugo-tailwind-journal"]
	path = themes/hugo-tailwind-journal
	url = https://github.com/ianrodrigues/hugo-tailwind-journal
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde
